<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <button (click)="readAlbums()">Read</button>
  <h1>Wszystkie albumy</h1>
  <h1 *ngFor="let album of albumList">
    {{album.name}} i {{album.id}}
  </h1>

  <div *ngIf="albumOne && artist && genre && trackList">
    <h1>one album - {{albumOne.name}}</h1>
    <h1>artysta - {{artist.name}}</h1>
    <h1>genre - {{genre.name}}</h1>
    <h1 *ngFor="let track of trackList">{{track.name}}</h1>
  </div>
</div>