<div class="container">
    <div *ngIf="albumAdded" class="alert alert-primary">
        Album pomyślnie dodany!
      </div>
  <div class="card bg-dark">
    <div class="card-header">
      <h2 class="display-4 text-center text-white header">Dodawanie albumu</h2>
    </div>
    <div class="card-body row">
     

      <form [formGroup]="addAlbumForm" id="addAlbumForm" class="col-md-3 main-form" (ngSubmit)="onAlbumSubmit()" novalidate>
        <div class="text-white">
          <label class="center-block">
            <span class="star">*</span>Artysta:
            <input class="form-control" formControlName="name" maxlength="16">
            <span class="info-footer">Minimum 3 znaki</span>
            <p *ngIf="artistWhitespaceError" class="error">Nazwa artysty nie może składać się tylko z pustych znakow</p>
          </label>

          <label class="center-block">Gatunek:
            <input class="form-control" formControlName="genre" maxlength="16">
          </label>

          <label class="center-block">
            <span class="star">*</span>Nazwa albumu:
            <input class="form-control" formControlName="albumName" maxlength="32">
            <span class="info-footer">Minimum 3 znaki</span>
            <p *ngIf="albumWhitespaceError" class="error">Nazwa albumu nie może składać się tylko z pustych znakow</p>
          </label>

          <hr>

          <form [formGroup]="addTrackForm" id="addTrackForm" (ngSubmit)="onTrackSubmit(addTrackForm.value)" novalidate>
            <label class="center-block">
              <span class="star">*</span>Tytuł utworu:
              <input class="form-control" formControlName="title" maxlength="16">
            </label>

            <label class="center-block">Producent:
              <input class="form-control" formControlName="producerName" maxlength="16">
            </label>


            <label class="center-block" for="time">
              <span class="star">*</span>Czas trwania:
              <div class="row" id="time">
                <label class="col-md-5">Min:
                  <input class="form-control" formControlName="lengthMin">
                </label>
                <label class="col-md-5">Sec:
                  <input class="form-control" formControlName="lengthSec">
                </label>
              </div>
            </label>


            <button type="submit" [disabled]="addTrackForm.status == 'INVALID'" class="btn btn-secondary center-block col-md-10">Dodaj utwor</button>
          </form>
        </div>


      </form>




      <div class="list-group col-md-7">
        <a *ngFor="let track of currentTrackList; let i = index" class="track-name list-group-item list-group-item-action list-group-item-primary"
          (click)="removeTrack(i)">
          {{i+1}}. {{track.name}} (prod. {{track.producerName}}) - {{track.lengthMin}} min. {{track.lengthSec}} sec.
        </a>
      </div>

    </div>

    <button type="submit" form="addAlbumForm" [disabled]="addAlbumForm.status ==='INVALID' || aristWhitespaceError || albumWhitespaceError || currentTrackList.length == 0"
      class="btn btn-primary btn-lg album-button mx-auto">Dodaj album</button>
    <span class="info-footer">
      <span class="star">*</span> - pole wymagane</span>
  </div>
</div>